In [35]:
import numpy as np
import pandas as pd

In [36]:
df=pd.read_csv("customer.csv")

In [37]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [38]:
#we need the review,education-ordinaldata,purchased=lavel_encoding
df=df.drop(columns=['age','gender'],axis=1)

In [39]:
df.sample(5)

     review education purchased
4   Average        UG        No
32  Average        UG       Yes
37  Average        PG       Yes
28     Poor    School        No
43     Poor        PG        No

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train,X_test,Y_train,Y_test=train_test_split(df.iloc[:,0:2],df['purchased'],test_size=.2)

In [42]:
X_train.shape,X_test.shape

((40, 2), (10, 2))

In [43]:
X_train

     review education
32  Average        UG
22     Poor        PG
18     Good    School
15     Poor        UG
33     Good        PG
23     Good    School
39     Poor        PG
30  Average        UG
48     Good        UG
21  Average        PG
17     Poor        UG
37  Average        PG
20  Average    School
9      Good        UG
36     Good        UG
40     Good    School
8   Average        UG
38     Good    School
45     Poor        PG
42     Good        PG
13  Average    School
6      Good    School
41     Good        PG
26     Poor        PG
24  Average        PG
46     Poor        PG
43     Poor        PG
44  Average        UG
1      Poor        UG
3      Good        PG
10     Good        UG
34  Average    School
5   Average    School
12     Poor    School
49     Good        UG
31     Poor    School
7      Poor    School
2      Good        PG
25     Good    School
14     Poor        PG

In [44]:
from sklearn.preprocessing import OrdinalEncoder

In [45]:
en=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [46]:
en.categories

[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']]

In [47]:
en.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [48]:
X_train_encod=en.transform(X_train)
X_test_encod=en.transform(X_test)

In [49]:
X_train_encod

array([[1., 1.],
       [0., 2.],
       [2., 0.],
       [0., 1.],
       [2., 2.],
       [2., 0.],
       [0., 2.],
       [1., 1.],
       [2., 1.],
       [1., 2.],
       [0., 1.],
       [1., 2.],
       [1., 0.],
       [2., 1.],
       [2., 1.],
       [2., 0.],
       [1., 1.],
       [2., 0.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [2., 0.],
       [2., 2.],
       [0., 2.],
       [1., 2.],
       [0., 2.],
       [0., 2.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [2., 1.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [2., 1.],
       [0., 0.],
       [0., 0.],
       [2., 2.],
       [2., 0.],
       [0., 2.]])

# Label encoder

In [50]:
from sklearn.preprocessing import LabelEncoder

In [51]:
le=LabelEncoder()

In [53]:
le.fit(Y_train)

LabelEncoder()

In [54]:
Y_train_label=le.transform(Y_train)
Y_test_label=le.transform(Y_test)

In [55]:
Y_train_label

array([1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1])

In [56]:
Y_train

32    Yes
22    Yes
18     No
15     No
33    Yes
23     No
39     No
30     No
48    Yes
21     No
17    Yes
37    Yes
20    Yes
9     Yes
36    Yes
40     No
8      No
38     No
45    Yes
42    Yes
13     No
6      No
41    Yes
26     No
24    Yes
46     No
43     No
44     No
1      No
3      No
10    Yes
34     No
5     Yes
12     No
49     No
31    Yes
7     Yes
2      No
25     No
14    Yes
Name: purchased, dtype: object