In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('covid_toy.csv')

In [3]:
df.sample(5)

    age  gender  fever   cough       city has_covid
97   20  Female  101.0    Mild  Bangalore        No
89   46    Male  103.0  Strong  Bangalore        No
38   49  Female  101.0    Mild      Delhi       Yes
78   11    Male  100.0    Mild  Bangalore       Yes
1    27    Male  100.0    Mild      Delhi       Yes

In [4]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing  import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [5]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train,X_test,Y_train,Y_test=train_test_split(df.drop('has_covid',axis=1),df['has_covid'],test_size=.2)

In [8]:
X_train

    age  gender  fever   cough       city
52   47  Female  100.0  Strong  Bangalore
67   65    Male   99.0    Mild  Bangalore
46   19  Female  101.0    Mild     Mumbai
97   20  Female  101.0    Mild  Bangalore
47   18  Female  104.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
58   23    Male   98.0  Strong     Mumbai
5    84  Female    NaN    Mild  Bangalore
96   51  Female  101.0  Strong    Kolkata
57   49  Female   99.0  Strong  Bangalore
70   68  Female  101.0  Strong      Delhi

[80 rows x 5 columns]

In [9]:
from sklearn.compose import Columnsformer

ImportError: cannot import name 'Columnsformer' from 'sklearn.compose' (C:\Users\prana\anaconda3\lib\site-packages\sklearn\compose\__init__.py)

In [ ]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [ ]:
transformer.fit_transform(X_train).shape

In [ ]:
transformer.fit_transform(X_test).shape

In [ ]:
df=pd.read_csv('titanic.csv')

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)

In [ ]:
df.head()

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(df.drop(columns=['Survived'],axis=True),df['Survived'])

In [ ]:
X_train.head()

In [ ]:
Y_train.head()

In [ ]:
X_train.isnull().sum()

In [ ]:
#imputation transformer
trf1=Columnsformer([
    ('Age_Imputer',SimpleImputer(),[2])
],remainder='passthrough')